header {
    max-width: 425px;
}

.gradient-header {
    width: max-content;
    font-size: 4.6rem;
    font-weight: 700;
    font-style: normal;
    color: transparent;
    background: linear-gradient(90deg, rgb(var(--purple-main)), rgb(var(--red-main))) text;
}

header > span {
    display: block;
    letter-spacing: 1.3px;
    line-height: 3;
    text-align: right;
    font-family: "Anuphan";
    font-weight: 300;
    font-style: italic;
}