.link-group {
    padding-block-start: 2.3rem;
    font-size: 1.5rem;
}

.link-group > a:hover {
    color: rgba(0, 0, 0, 0.822);
}

.link-group > a {
    transition: all 200ms ease-in-out;
    text-decoration: underline 1px solid rgba(var(--purple-main), 1);
}