#avatar-picker::file-selector-button {
 cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

form {
    border-radius: 3px;
    position: relative;
}

input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image-source: linear-gradient(6deg, #6701e7, transparent 50%);
    border-image-slice: 1;
    height: 25px;
    font-weight: 300;
    background-color: transparent;
    width: 100%;
}

input:focus {
    outline: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    border-inline-end: 2px solid;
    border-block-start: 2px solid;
    border-image-source: radial-gradient(circle at top right, rgb(92 0 252), rgb(116 116 116 / 0%) 20%);
    border-image-slice: 1;
    transition: 200ms;
    min-width: 0;
    width: 100%;
}

legend {
    margin-bottom: 5.5rem;
    min-width: 210px;
    text-align: center;
    color: rgb(40 10 146 / 73%);
    padding: .7rem;
    background: linear-gradient(to right, #3e1add1a 20%, #6701e717);
}

h2 {
    font-size: 2.3rem;
    font-weight: 200;
    width: 100%;
    padding: 1rem 0 1rem .5rem;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    margin: 8rem 0;
}

h2 > span {
    font-weight: 800;
    font-size: 64px;
    color: #ffffff54;
    transform: scale(1.5);
    position: absolute;
    top: 1rem;
    right: 50px;
    transform: scale(3.5);
    text-shadow: 0px 2px 2px rgb(92 0 252 / 22%);
    background: linear-gradient(45deg, #4c15e6a3, rgb(194 11 60 / 60%)) text;
}

label {
    font-size: .9rem;
    color: #1e1e1e;
    width: max-content;
    padding: 5px 10px;
    color: rgb(40 10 146 / 73%);
    position: absolute;
    bottom:2rem;
    left: 0;
    transform: translateY(2rem);
    transition: transform 500ms ease;
    z-index: -1;
}

input:focus ~ label,
input:valid ~ label,
textarea:not(:placeholder-shown) ~ label,
textarea:focus ~ label {
    transform: translateY(0) scale(0.88);
    background: linear-gradient(to right, #3e1add1a 20%, #6701e717);
} 


label, input {
    font-family: "Anuphan";
}

button, a {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#root {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: 2rem 1.2rem;
}

.button-group {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 2rem;
}

.button-group > button,
.add-section-btn {
    font-family: "Inter";
    letter-spacing: 2.8px;
    padding: 10px;
    text-transform: uppercase;
    min-width: 100px;
    text-align: center;
}

.button-group > .delete-btn {
    color: rgb(194, 11, 60);
    position: relative;
    width: max-content;
    overflow: hidden;
}

.button-group > .submit-btn {
    background-color: rgba(92, 0, 252, 0.924);
    color: #fff;
    transition:  200ms cubic-bezier(0.25, 0.1, 0.04, 1.66);
}

.button-group > .submit-btn:hover {
    transform: translateY(-5px);
}

.delete-btn > span:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:rgb(194, 11, 60) ;
    transform: translateX(-100%);
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.delete-btn:hover > span:before {
    transform: translateX(100%);
}

.input-wrapper {
    position: relative;
}

.add-section-btn {
    outline: 1px solid #6701e7;
    color: rgb(40 10 146 / 73%);
    position: relative;
}

.add-section-btn > .add-icon-wrapper {
    padding: 10px;
    position: absolute;
    top: 0;
    left: calc(100% - 55px);
    background-color: #6701e7;
    color: white;
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
    transition: transform 300ms ease;
}

.add-section-btn > span {
    display: inline-block;
    width: 100%;
    padding-right: 32px;
}

.add-section-btn:hover > .add-icon-wrapper {
    transform: scale(1.15);
}

.add-icon-wrapper > svg {
    display: block;
    width: 2.2rem;
    height: 1rem;
    max-height: 36px;
}

.add-icon-wrapper > svg > path {
    text-align: right;
}
